<?xml version="1.0" encoding="utf-8"?>
<robot name="so100_plus">

  <material name="white">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>

  <link name="base">
    <visual>
      <geometry>
        <mesh filename="package://so100_plus_description/meshes/base_link.STL"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://so100_plus_description/meshes/base_link.STL"/>
      </geometry>
    </collision>
  </link>

  <link name="shoulder_rotation">
    <inertial>
      <origin xyz="0.031241 -9.1232e-05 0.01108" rpy="-0.0420628735 0.162036174 -0.35819033"/>
      <mass value="0.11865"/>
      <inertia ixx="5.94116e-05" ixy="0" ixz="0" iyy="5.89816e-05" iyz="0" izz="3.13398e-05"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://so100_plus_description/meshes/shoulder_rotation.STL"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://so100_plus_description/meshes/shoulder_rotation.STL"/>
      </geometry>
    </collision>
  </link>

  <link name="shoulder_pitch">
    <inertial>
      <origin xyz="0.07018 0.0031055 -0.00011721" rpy="1.58150821 -7.37161493e-05 1.55599259"/>
      <mass value="0.16241"/>
      <inertia ixx="0.000213311" ixy="0" ixz="0" iyy="0.000167161" iyz="0" izz="7.01525e-05"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://so100_plus_description/meshes/shoulder_pitch.STL"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://so100_plus_description/meshes/shoulder_pitch.STL"/>
      </geometry>
    </collision>
  </link>

  <link name="ellbow">
    <inertial>
      <origin xyz="0.076801 -0.001378 -0.003496" rpy="1.36766324 -0.0019869137 1.59123649"/>
      <mass value="0.14797"/>
      <inertia ixx="0.000138806" ixy="0" ixz="0" iyy="0.000107744" iyz="0" izz="4.8424e-05"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://so100_plus_description/meshes/ellbow.STL"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://so100_plus_description/meshes/ellbow.STL"/>
      </geometry>
    </collision>
  </link>

  <link name="wrist_pitch">
    <inertial>
      <origin xyz="0.01987 -8.6474e-05 -0.0011098" rpy="2.07121429 -0.00467132871 -0.0418344604"/>
      <mass value="0.039787"/>
      <inertia ixx="5.47838e-06" ixy="0" ixz="0" iyy="4.44848e-06" iyz="0" izz="4.31554e-06"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://so100_plus_description/meshes/wrist_pitch.STL"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://so100_plus_description/meshes/wrist_pitch.STL"/>
      </geometry>
    </collision>
  </link>

  <link name="wrist_jaw">
    <inertial>
      <origin xyz="0.0226121 1.10298e-07 0.0227845" rpy="1.77422194 -4.32854603e-05 1.57079693"/>
      <mass value="0.129207"/>
      <inertia ixx="4.30694e-05" ixy="0" ixz="0" iyy="3.72107e-05" iyz="0" izz="2.90573e-05"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://so100_plus_description/meshes/wrist_jaw.STL"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://so100_plus_description/meshes/wrist_jaw.STL"/>
      </geometry>
    </collision>
  </link>

  <link name="wrist_roll">
    <inertial>
      <origin xyz="0.0054721 0.00096004 0.028413" rpy="0.415554923 0.0370211925 1.53969727"/>
      <mass value="0.093165"/>
      <inertia ixx="5.03437e-05" ixy="0" ixz="0" iyy="4.64877e-05" iyz="0" izz="2.73546e-05"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://so100_plus_description/meshes/wrist_roll.STL"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://so100_plus_description/meshes/wrist_roll.STL"/>
      </geometry>
    </collision>
  </link>

  <link name="gripper">
    <inertial>
      <origin xyz="-0.0019417 0.030396 -0.0033973" rpy="1.60909877 0.0932674851 0.0663987004"/>
      <mass value="0.020214"/>
      <inertia ixx="1.10841e-05" ixy="0" ixz="0" iyy="8.97088e-06" iyz="0" izz="2.97828e-06"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://so100_plus_description/meshes/gripper.STL"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://so100_plus_description/meshes/gripper.STL"/>
      </geometry>
    </collision>
  </link>

  <joint name="shoulder_rotation_joint" type="revolute">
    <parent link="base"/>
    <child link="shoulder_rotation"/>
    <origin xyz="0.0612 0 0.0623" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-2.2" upper="2.2" effort="35" velocity="1"/>
    <dynamics friction="0.1"/>
  </joint>

  <joint name="shoulder_pitch_joint" type="revolute">
    <parent link="shoulder_rotation"/>
    <child link="shoulder_pitch"/>
    <origin xyz="0.0306 0 0.0542" rpy="-1.57080057 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.14158" upper="0.2" effort="35" velocity="1"/>
    <dynamics friction="0.1"/>
  </joint>

  <joint name="ellbow_joint" type="revolute">
    <parent link="shoulder_pitch"/>
    <child link="ellbow"/>
    <origin xyz="0.11257 0.028 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="3.14158" effort="35" velocity="1"/>
    <dynamics friction="0.1"/>
  </joint>

  <joint name="wrist_pitch_joint" type="revolute">
    <parent link="ellbow"/>
    <child link="wrist_pitch"/>
    <origin xyz="0.1349 -0.0052 0" rpy="0 0 0"/>
    <axis xyz="0 0 -1"/>
    <limit lower="-2.0" upper="1.8" effort="35" velocity="1"/>
    <dynamics friction="0.1"/>
  </joint>

  <joint name="wrist_jaw_joint" type="revolute">
    <parent link="wrist_pitch"/>
    <child link="wrist_jaw"/>
    <origin xyz="0.0345 0 -0.0012" rpy="1.57080057 0 0"/>
    <axis xyz="0 0 -1"/>
    <limit lower="-1.45" upper="1.45" effort="35" velocity="1"/>
    <dynamics friction="0.1"/>
  </joint>

  <joint name="wrist_roll_joint" type="revolute">
    <parent link="wrist_jaw"/>
    <child link="wrist_roll"/>
    <origin xyz="0.0488 0 -0.0075" rpy="3.14159265 1.57079208 3.14159265"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.14158" upper="3.14158" effort="35" velocity="1"/>
    <dynamics friction="0.1"/>
  </joint>

  <joint name="gripper_joint" type="revolute">
    <parent link="wrist_roll"/>
    <child link="gripper"/>
    <origin xyz="-0.020398 0.0012 0.0248" rpy="1.57080057 -1.44194115e-12 -3.14158531"/>
    <axis xyz="0 0 -1"/>
    <limit lower="-0.2" upper="2.0" effort="35" velocity="1"/>
    <dynamics friction="0.1"/>
  </joint>

</robot>
